.pomodoroTimer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60rem;
}

.pomodoroTimer span {
  font-size: clamp(8rem, 12vw, 12.6rem);
  margin: 2rem 0;
  color: var(--red);
  margin: 0 auto;
}

.pomodoroTimer button {
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 5px;
  transition: ease-in .1s;
}

.pomodoroTimer button:hover {
  opacity: .8;
}

.btnsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.btnsContainer .btn {
  max-width: 20rem;
  min-width: 15rem;
  height: 6rem;
  border-radius: 5px;
  font-size: 1.8rem;
  font-weight: bold;
  transition: ease-in .1s;
}

.btnsContainer .btn:hover {
  opacity: .8;
}

.btnsContainer .btnStartAndPause {
  background-color: var(--red);
  color: var(--white);
}

.btnsContainer .btnDone {
  flex-grow: 1;
  background-color: var(--green);
  color: var(--white);
}



