.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10vh;
  padding-top: 3rem;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header .logo span {
  font-size: 3.6rem;
  font-weight: bold;
  margin-left: 1rem;
  line-height: 5rem;
}
